fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg[binary]
jinja2
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt
pydantic
pydantic-settings
email-validator
python-dotenv
reportlab
openpyxl
itsdangerous
pillow
qrcode
python-barcode
httpx